body {
    background-color: rgb(94, 92, 92);
}

.title {
    color: black;
    border: solid rgb(35, 33, 33) 2px;
    background-color: rgb(180, 180, 180);
    text-align: center;
    margin-left: 600px;
    margin-right: 600px;
    margin-top: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 50px;
}

table {
    justify-content: center;
    margin-left: 600px;
    margin-right: 600px;
    margin-top: 20px;
}

input[type ="text"] {
   padding: 20px 50px 20px 50px;
}

input[type = "button"] {
    width: 100%
}